@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Manrope', sans-serif;
}

a.active {
    color: #3ccf91 !important;
}

.flag-dropdown:hover {
    background-color: #222 !important;
}
.flag-dropdown:active {
    background-color: #222 !important;
}
.flag-dropdown {
    background-color: #222 !important;
}

.react-tel-input .flag-dropdown:hover {
    background-color: #222 !important;
}

.react-tel-input .country-list .country:hover,
.react-tel-input .country-list .country.highlight {
    background-color: #3ccf91 !important;
    color: #222 !important;
}
